*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: rgb(244, 207, 252);
margin: px;
padding: px;
}
.contener{
    margin: px;
    padding: 0px;
    
}
.h3{
    color: blueviolet;
    margin-left: 77px;
    margin-top: -47px;
    font-size: 25px;
    
}
.navbar{
    height:80px;
    width: 100%;
    background-color: white;
    
}
.logo{
    margin-left: 20px;
}
.ul_li_a{
    display: flex;
    
    margin-left: 180px;
    margin-top: -20px;
    font-weight: bold;
    text-decoration: none;
}
.a1, .a2, .a3, .a4, .a5{
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-left: 75px;
    gap: 5px;
    font-weight: bold;
    
}
.demi_cercle{
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: blueviolet;
    background-color: blueviolet;
    margin-left: 139px;
    border-radius: 50%;
    margin-top: -180px;
}
.discutons{
    display: flex;
    justify-content: center;
    border-style: solid;
    background-color:black ;
    color: white;
    margin-left: 1050px;
    margin-right: 100px;
    margin-top: -58px;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
}
.image{
    margin-left: 550px;
    margin-top: -150px;
    
}
.image_arr{
    background-image: url(./IMG_3154.JPG);
    background-size: cover;
 
        
    
}

#presentation{
    display: flex;
    flex-direction: column;
    margin-top: -400px;
    margin-left: 100px;
    gap: 20px;
    color:black;
     }
    



.paragraf_1{
    max-width: 400px;
    font-size: 18px;
}
.titre_2{
    font-size: 25px;

}
.titre_1{
    font-size: 50px;
}
.nom{
    color: blueviolet;
}
.cases_2{
display: flex;
gap:20px ;
margin-top: 10px;
}
.caz1{
border-style: solid;
border-width: 1px;
background-color: black;
padding: 10px;
width: 150px;
color: white;
font-weight: bold;
text-align: center;
}
.caz2{
border-style: solid;
border-width: 2px;
background-color: white;
padding: 10px;
width: 150px;
font-weight: bold;
text-align: center;

}
#a_propos{
    display: flex;
    margin-top: 75px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    height: 450px;
    color: white;
    background-color: rgb(0, 9, 17);
    justify-content: center;
}
.para_2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.h_2{
margin-top: 70px;
font-size: 25px;
font-weight: bold;
}
.para_demoi{    
max-width: 800px;
font-size: 20px;
margin-top: 10px;
}
.chiffres{
    display: flex;
    gap: 200px;
    margin-top: -200px;
    justify-content: center;
    margin-right: 100px;
}
.c1, .c4, .c0{
    display: flex;
    font-weight: bold;
    font-size: 70px;
    margin-left: 35px;
    text-align: center;
    flex-direction: column;
    color: lightpink;

}
.pro, .mois, .cli{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.demicercle{
   height: 200px;
    width: 200px;
    border-style: solid;
    border-color: blueviolet;
    background-color: blueviolet;
    margin-left: 600px;
    border-radius: 50%;  
    margin-top:auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
#services{
    width: 100%;
    height: 500px;
    border-style: solid;
    border-width: 1px;
    margin-top: -105px;
    background-color: white;
    border-color: white;

}
.tete{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.hservice{
    font-size: 25px;
    margin-top: 50px;
    
}
.pservice{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    
    
}
.parti_ser{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    gap: 15px;
    margin-top: 150px;
    max-width: 500px;
}
.serv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.im1{
display: flex;
flex-direction: column;
 margin-left: 10px;
 max-width: 300px;
margin-left: 70px;
gap: 10px;
margin-top: 90px;
}
.im2{
    display: flex;
    flex-direction: column;
    margin-left: 390px;
    max-width: 300px;
    gap: 10px;
    margin-top: -175px;
}
.im3{
display: flex;
flex-direction: column;
margin-left: 700px;
margin-top:-155px ;
max-width: 300px;
gap: 10px;
}
.im4{
    display: flex;
    flex-direction: column;
    margin-left: 1050px;
    max-width: 300px;
    margin-top: -140px;
    gap: 10px;
}
#realisations{
    width: 100%;
    height: 25  0px;
    background-color:rgb(244, 207, 252);
   
}
.relis{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-top: 50px
      
}
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    margin-top: 30px;
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    margin-left: 120px;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    margin-left: 35px;
    
    
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    margin-left: -50px;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-row-start: 4;
    margin-left: 120px;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 4;
    margin-left: 35px;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 4;
    margin-left: -50px;
}
.barre{
    display: flex;
    background-color: gray;
    padding: 3px;
    border-left: 180px solid black;
    width: 300px;
    height: 5px;
    margin-top: 70px;
    margin-left: 150px;

    
}
.barre_2{
    display: flex;
    flex-direction: row;
    background-color: gray;
    padding: 3px;
    border-left: 30px solid black;
    width: 300px;
    height: 5px;
    margin-top: 70px;
    margin-left: 150px;

    
}
.barre_3{
    
    display: flex;
    flex-direction: row;
    background-color: gray;
    padding: 3px;
    border-left: 15px solid black;
    width: 300px;
    height: 5px;
    margin-top: 9px;
    margin-left: 150px;

    
}

    

.barre4{
    display: flex;
    flex-direction: row;
    background-color: gray;
    padding: 3px;
    border-left: 150px solid black;
    width: 300px;
    height: 5px;
    margin-top: -170px;
    margin-left: 700px;

    
}
.barre5{
    display: flex;
    flex-direction: row;
    background-color: gray;
    padding: 3px;
    border-left: 75px solid black;
    width: 300px;
    height: 5px;
    margin-top: 49px;
    margin-left: 700px;

    
}
.barre6{
    display: flex;
    flex-direction: row;
    background-color: gray;
    padding: 3px;
    border-left: 37px solid black;
    width: 300px;
    height: 5px;
    margin-top: 69px;
    margin-left: 700px;

    
}
.com{
    display: flex;
    justify-content: center;

}
#temoignages{
    height: 400px;
     background-color: rgb(244, 207, 252);
    width: auto;
    margin-top: 50px;
 }
 .titre_dem_cer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px ;
    font-family: poppins;
     }
     .para{
    display: flex;
    flex-direction: row;
    text-align: center;
    max-width:800px ;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    margin-top: 20px;
    font-family: poppins;
    font-size: 16px;
     }
     .temoin{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        justify-content: center;
     }
     #contacs{
        height: 600px;
        background-color: rgb(252, 252, 252);
         }
        
     .contact{
        display: flex;
        flex-direction: row;
        margin-top: 70px;
        gap: 90px;
     }
     .cont1{
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        margin-top: 70px;
        gap:20px ;
        
     }
     .inputs{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: start;
        text-align: end;
        margin-right: 100px;
        margin-top: 70px;
        
     }
     .input1, .input2, .input3{
        width: 500px;
        height: 40px;
        border-radius: 3px;
        border: 1px solid rgb(5, 5, 5);
        padding: 10px;  
     }
     ::placeholder{
        font-size: 16px;
        color:blueviolet;
     }
     .btne{
        width: 150px;
        height: 40px;
        background-color: rgb(49, 46, 53);
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        
     }
     .dem{
        height: 150px;
        width: 150px;
        border-radius: 100%;
        background-color: rgb(255, 51, 0);
        margin-top: 170px;
        margin-left: -1550px   
     }
     .icones{
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-top: 500px;
        margin-left: -330px;
     }
     .bas{
        height: 400px;
        width: auto;
        background-color: black;
        }
     